*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(50,89,187);
    height: 17rem
}

.icon{
    float: left;
}

.icon a img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: -0.5rem;
}

ul{
    list-style-type: none;
    background-color: #000741;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: right;
}

li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

li a:hover{
    background-color: #1d3557;
}

.enter .botton {
    width: 35.5rem;
    height: 5rem;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    
}

.enter .botton:hover{
    background-color: #7289aa;
}

.banner {
    width:99.8vw;
    height: 40rem;
    margin: 0.5rem;
}
.tittle{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 4rem;
    margin-bottom: 2rem;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    text-align: center;

}

.pie-pagina{
    width: 100%;
    background-color: rgb(179, 187, 237);
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #0c1d35;
    padding-top: 20px;
}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 15px 0px;
}

.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo1 .box figure img{
    width: 200px;
    margin: 0px;
    padding: 0px;
}

.pie-pagina .grupo1 .box h2{
    font-size: 18px;
    margin-bottom: 25px;
}

.pie-pagina .grupo1 .box .datos{
    margin-bottom: 10px;
    color: rgb(12, 12, 77);
    display: grid;
    font-size: 20px;
}

.pie-pagina .grupo1 .red-social .loguitos img {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #000741;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
}

.pie-pagina .grupo1 .red-social .loguitos img:hover {
    background-color: rgb(179, 187, 237);
}

.pie-pagina .grupo2 {
    background-color: #000741;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo2 small{
    font-size: 15px;
}
 
/* @media screen and(max-width:800px){
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.125rem;
        padding: 2.8125rem 0;
    }
}
