*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background:rgb(50, 89, 187) ;
    text-align: center;
    padding: 0px;
    margin: 0px;
    
    
}


/* ---------------------------------------------CONTENIDO DEL BODY----------------------------------------------- */

.container{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.encabezado{
    background: rgb(69, 52, 215);
    font-family: 'calibri';
    font-size: 4rem;
    color: rgb(255, 255, 255);
}
h2{
    font-size: 2.5rem;
    color: blue;
}
.contenedor-body{
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 99.3vw;
    height: 20%;
    min-width: 700px;
}
.derecha{
    margin-right: 1rem;
    width: 50%;
    height: 10rem;
    margin-left: auto;
}
.botones{
    opacity: 1;
    transition: opacity 0.3s ease; 
    margin-top: 2rem;
    width: 50px;
    margin-left: 2rem;
    height: 50px;
    border-radius: 100px;
    border: none;
    
}
.botones:hover{
    opacity: 0.5;
    background-color: rgb(115, 83, 221);
}
.imagenes{
    width: 40px;
    height: 50px;
    border-radius: 100px;
    border: none;
}
.botones-izquierda{
    margin-left: 2rem;
    margin-top: 4rem;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
}
.seccion-derecha{
    flex-direction: column;
    margin-left: auto;
    width: 57%;
    height: 65rem;

}
.subcontainer1{
    background: rgb(39, 158, 39);
    width: 100%;
    height: 48%;
    display: inline-block
}
.seccion-izquierda{
    margin-top: -65rem;
    flex-direction: row;
    margin-right: auto;
    width: 40%;
    height: 65rem

}
.cuadro-izquierdo1{
    margin-top: 2rem;
    width: 100%;
    height: 200px;
    background: rgb(255, 255, 255);
    border: 0.2rem solid;
}
.falda{
    margin-top: 3rem;
    height: 70%;
    width: 40%;
}
.cuadro-derecho1{
    margin-top: 2rem;
    float: right;
    background-color: #ffffff;
    width: 100%;
    height: 20rem;
    border: 2px solid;
    margin-bottom: 2rem;
}

.cuadro-derecho2{
    float: right;
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    border: 0.2rem solid;
    margin-bottom: 2rem;
}

.subcontainer2{
    background: rgb(188, 194, 171);
    width: 100%;
    height: 40%;
    display: inline-block;
    
}
.cuadro-izquierdo2{
    margin-top: 2rem;
    width: 100%;
    height: 200px;
    background: rgb(255, 255, 255);
    border: 0.2rem solid;

}
.alfombra{
    margin-top: 1rem;
    height: 80%;
    width: 50%;
}
.subcontainer3{
    background: rgb(51, 36, 151);
    width: 100%;
    height: 40%;
    display: inline-block;
    
}
.cuadro-izquierdo3{
    margin-top: 2rem;
    width: 100%;
    height: 200px;
    background: rgb(255, 255, 255);
    border: 0.2rem solid;

}
.pantalon{
    margin-top: 1rem;
    height: 80%;
    width: 50%;
}

.cuadro-derecho3{
    float: right;
    background-color: #ffffff;
    width: 100%;
    height: 20rem;
    border: 0.2rem solid;
    
}
.contendor-cuadritos{
    background-color: rgb(69, 52, 215);
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

}

/* --------------Estilo de los inputs------------- */
  
#text-cantidad-pantalones {
    font-weight: bold;
    font-size: 2rem;
    color: #3c79be;
    margin-right: 1rem;
  }
  
.cantidad-prenda{
    padding: 0.5rem;
    border: 1rem solid #ccc;
    margin-top: 1rem;
    border-radius: 0.25rem;
    width: 12rem;
    margin-bottom: 1rem;
    
  } 
  
/*---------------ultima parte----------------------*/
.pedido{
    font-size: 3rem;
    padding: 2rem;
}

.numero{
    margin: 3rem;
    background: white;
    width: 8rem;
    height: 5rem;
    padding: 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    

}
.abajo{
    background: #dfd9d9;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    margin: 0px;
    padding: 10px;

}
.pedido-minimo{
    background: grey;
    font-size: 30px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h3{
    margin-top: 2rem;
    font-size: 2.5rem;
}
.cajita-calculos{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.letras{
    width: 50%;
}
#total{
    font-weight: bold;
    font-size: 2.5rem;
    color: #3c79be;
}
.totalEnvio{
    margin-top: -6rem;
    margin-left: auto;
    width: 20%;
}
.confirmar{
    margin-top: 2rem;
    background: #3c79be;
    font-size: 30px;
}
.confirmar:hover{
    background: #7696ac;
}
.carrito{
    float: right;
    width: 40px;
    height: 40px;
}




